<a href="https://colab.research.google.com/github/pedroleao09/AnaliseDeDadosPython01/blob/main/Imers%C3%A3oDadosAlura01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Análise de Dados em Python - Passos Iniciais**

# Análise de Dados - Introdução - Análise Básica de Média e Mais Frequentes, além de Renomeação de Colunas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

O Python sempre traz as 5 primeiras, mas podemos colocar quantas quiser como parâmetro

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

Podemos utilizar o .info para extrair informações no terminal da nossa base de dados.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

É possível obter apenas os dados numéricos com describe()

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

Um objeto do Pandas pode nos dar seus tamanho com o atributo .shape() - (Linhas,Colunas)

In [ ]:
print(df.shape)
linhas, colunas = df.shape[0], df.shape[1]
print(f"Linhas do seu banco de dados: ",linhas)
print(f"Colunas do seu banco de dados:",colunas)

(133349, 11)
Linhas do seu banco de dados:  133349
Colunas do seu banco de dados: 11

Podemos extrair o nome das colunas do banco de dados

In [ ]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

Fazemos a substituição das colunas para algo traduzido

In [ ]:
# É criado um dicionário de renomeação
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

df.rename(columns=novos_nomes, inplace = True)

df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

O parâmetro `inplace=True` na função `.rename()` do Pandas significa que a operação de renomeação será aplicada diretamente ao DataFrame original (`df`), modificando-o no local. Se `inplace` fosse `False` (que é o padrão), a função retornaria um novo DataFrame com as colunas renomeadas, e o DataFrame original (`df`) permaneceria inalterado. Para aplicar as mudanças, seria necessário atribuir o resultado de volta à variável `df`, como `df = df.rename(columns=novos_nomes)`.

In [ ]:
# Verificar a frequência das diferentes informações em uma determinada coluna.
df["senioridade"].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
senioridade = {
    "SE": "Senior",
    "MI": "Pleno",
    "EN": "Junior",
    "EX": "Executivo"
}

df["senioridade"] = df["senioridade"].replace(senioridade)
df["senioridade"].value_counts()

senioridade
Senior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
contrato = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df["contrato"] = df["contrato"].replace(contrato)
df["contrato"].value_counts()

contrato
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [ ]:
tamanho_empresa = {
    'L': 'grande',
    'S': 'pequena',
    'M':	'media'

}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa)
df['tamanho_empresa'].value_counts()

tamanho_empresa
media      129561
grande       3574
pequena       214
Name: count, dtype: int64

In [ ]:
mapa_trabalho = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}

df['remoto'] = df['remoto'].replace(mapa_trabalho)
df['remoto'].value_counts()

remoto
presencial    105312
remoto         27718
hibrido          319
Name: count, dtype: int64

In [ ]:
# Agora com tudo atualizado
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025.0,Senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025.0,Pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025.0,Pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025.0,Junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media

In [ ]:
# Expondo contagem de dados, quantos são únicos, o mais frequente e sua respectiva frequência
df.describe(include="object")

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,integral,Data Scientist,USD,US,presencial,US,media
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [ ]:
# Fazemos a análise agora para as numéricas, não é preciso de parâmetro
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000

O código é um passo a passo para entender, limpar e preparar a base de dados para análises mais profundas, facilitando a visualização de padrões e tendências no mercado de trabalho em ciência de dados.

# Análise de Dados - Introdução - Tratamento de Dados

In [ ]:
df.isnull()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

Onde está nosso valores faltantes?

In [ ]:
df.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

Vamos identificar quais são os diferentes dados (únicos) dentro da nossa base

In [ ]:
df["ano"].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [ ]:
# Podemos filtrar esses valores nulos.
# O any() encontra os True e axis=1 indica uma abordagem linha por linha
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Senior,integral,Product Manager,184500,USD,184500,US,presencial,US,media
59692,NaN,Pleno,integral,Engineer,110000,USD,110000,DE,presencial,DE,media
59710,NaN,Junior,integral,Data Scientist,208800,USD,208800,US,presencial,US,media
59759,NaN,Senior,integral,Software Engineer,135000,USD,135000,US,presencial,US,media
59789,NaN,Senior,integral,Engineer,112000,USD,112000,US,presencial,US,media
131000,NaN,Senior,integral,Machine Learning Engineer,163800,USD,163800,US,presencial,US,media
131006,NaN,Senior,integral,Data Analytics Manager,204500,USD,204500,US,presencial,US,media
133054,NaN,Junior,integral,Data Scientist,40000,USD,40000,JP,remoto,MY,grande
133281,NaN,Pleno,integral,Machine Learning Engineer,180000,PLN,46597,PL,remoto,PL,grande
133317,NaN,Pleno,integral,Data Scientist,130000,USD,130000,US,hibrido,US,grande

**Vamos realizar diferentes métodos de tratamento:**

Preenchimento: Podemos colocar valores médios ou de mediana, não "descalibrando" seus dados

In [ ]:
import numpy as np

df_salarios = pd.DataFrame({
    "nome": ["João", "Maria", "José", "Ana", "Val"],
    "salario": [1000, np.nan,4000,np.nan,100000]
})
# Criamos uma novo coluna que receberá os valores nulos de Salário do DataFrame
# acima preechido com a mediana dos valores
# round(2) é arredondamento com 2 casas decimais.
df_salarios["salario_media"] = df_salarios["salario"].fillna(df_salarios["salario"].mean().round(2))
# A Mediana tende a estar menos contaminada com outliers
df_salarios["salario_mediana"] = df_salarios["salario"].fillna(df_salarios["salario"].median())
df_salarios

    nome   salario  salario_media  salario_mediana
0   João    1000.0         1000.0           1000.0
1  Maria       NaN        35000.0           4000.0
2   José    4000.0         4000.0           4000.0
3    Ana       NaN        35000.0           4000.0
4    Val  100000.0       100000.0         100000.0

Duplicaremos um valor que já faz parte do Banco de Dados

In [ ]:
df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda","Terça","Quarta","Quinta","Sexta"],
    "Temperatura": [30,np.nan,np.nan,28,29]
})

df_temperaturas["Preenchido_ffill"] = df_temperaturas["Temperatura"].ffill()
df_temperaturas

       Dia  Temperatura  Preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         29.0              29.0

O método ffill é Forward Fill, preenche o atual com o valor anterior.
Temos bfill também, que vem de Back.

In [ ]:
# Podemos preencher com valores arbitrários
df_cidades = pd.DataFrame({
    "nome": ["João", "Maria", "José", "Ana", "Val"],
    "cidade": ["São Paulo", np.nan,"Curitiba", np.nan,"Belém"]
})
df_cidades["cidade_preenchida"] = df_cidades["cidade"].fillna("Não Informado")
df_cidades

    nome     cidade cidade_preenchida
0   João  São Paulo         São Paulo
1  Maria        NaN     Não Informado
2   José   Curitiba          Curitiba
3    Ana        NaN     Não Informado
4    Val      Belém             Belém

Retomando à Base antiga, vemos que nenhum desses métodos é o ideal. Se temos apenas 10 faltantes em mais de 130 mil, excluiremos essas linhas.

In [ ]:
df_limpo = df.dropna()
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [ ]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025.0,Senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025.0,Pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025.0,Pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025.0,Junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media

O ano tem casa decimal, vamos investigar seu tipo

In [ ]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [ ]:
df_limpo = df_limpo.assign(ano= df_limpo['ano'].astype("int64"))
df_limpo

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025,Senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025,Pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025,Pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025,Junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media
...,...,...,...,...,...,...,...,...,...,...,...
133344,2020,Senior,integral,Data Scientist,412000,USD,412000,US,remoto,US,grande
133345,2021,Pleno,integral,Principal Data Scientist,151000,USD,151000,US,remoto,US,grande
133346,2020,Junior,integral,Data Scientist,105000,USD,105000,US,remoto,US,pequena
133347,2020,Junior,contrato,Business Data Analyst,100000,USD,100000,US,remoto,US,grande
133348,2021,Senior,integral,Data Scientist,7000000,INR,94665,IN,hibrido,IN,grande

In [ ]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  int64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB